@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

.custom-link {
    @apply rounded-md border bg-gray-300 p-2 transition-all hover:bg-gray-700 hover:text-white;
}

.custom-h2 {
    @apply mb-10 text-2xl font-bold text-gray-800;
}

.header-button {
    @apply flex h-10 w-10 items-center justify-center rounded-full border-2 border-black bg-gray-500 text-white hover:bg-gray-700;
}

th {
    @apply border-b border-gray-200 px-4 py-2;
}

td {
    @apply border-b border-gray-200 px-4 py-2 text-center;
}

* {
    @apply font-roboto;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: rgba(71, 69, 66, 0.3);
    border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;
}
